# -*- coding: utf-8 -*-

# Define here the models for your scraped items
#
# See documentation in:
# https://doc.scrapy.org/en/latest/topics/items.html

import scrapy


class ScrapysItem(scrapy.Item):
    # define the fields for your item here like:
    ${1} = scrapy.Field()
    ${2} = scrapy.Field()
    ${3} = scrapy.Field()
    ${4} = scrapy.Field()
    ${5} = scrapy.Field()
    ${6} = scrapy.Field()
    ${7} = scrapy.Field()
    ${8} = scrapy.Field()
    ${9} = scrapy.Field()
    ${10} = scrapy.Field()
    ${11} = scrapy.Field()
    ${12} = scrapy.Field()
    ${13} = scrapy.Field()
    ${14} = scrapy.Field()
    ${15} = scrapy.Field()
    ${16} = scrapy.Field()
    ${17} = scrapy.Field()
    ${18} = scrapy.Field()
    ${19} = scrapy.Field()
    ${20} = scrapy.Field()
    ${21} = scrapy.Field()
    ${22} = scrapy.Field()
    ${23} = scrapy.Field()
    ${24} = scrapy.Field()
    ${25} = scrapy.Field()
    ${26} = scrapy.Field()
    ${27} = scrapy.Field()
    ${28} = scrapy.Field()
    ${29} = scrapy.Field()
    ${30} = scrapy.Field()
    ${31} = scrapy.Field()
    ${32} = scrapy.Field()
    ${33} = scrapy.Field()
    ${34} = scrapy.Field()
    ${35} = scrapy.Field()
    ${36} = scrapy.Field()
    ${37} = scrapy.Field()
    ${38} = scrapy.Field()
    ${39} = scrapy.Field()
    ${40} = scrapy.Field()
    ${41} = scrapy.Field()
    ${42} = scrapy.Field()
    ${43} = scrapy.Field()
    ${44} = scrapy.Field()
    ${45} = scrapy.Field()
    ${46} = scrapy.Field()
    ${47} = scrapy.Field()
    ${48} = scrapy.Field()
    ${49} = scrapy.Field()
    ${50} = scrapy.Field()
    ${51} = scrapy.Field()
    ${52} = scrapy.Field()
    ${53} = scrapy.Field()
    ${54} = scrapy.Field()
    ${55} = scrapy.Field()
    ${56} = scrapy.Field()
    ${57} = scrapy.Field()
    ${58} = scrapy.Field()
    ${59} = scrapy.Field()
    ${60} = scrapy.Field()
    ${61} = scrapy.Field()
    ${62} = scrapy.Field()
    ${63} = scrapy.Field()
    ${64} = scrapy.Field()
    ${65} = scrapy.Field()
    ${66} = scrapy.Field()
    ${67} = scrapy.Field()
    ${68} = scrapy.Field()
    ${69} = scrapy.Field()
    ${70} = scrapy.Field()
    ${71} = scrapy.Field()
    ${72} = scrapy.Field()
    ${73} = scrapy.Field()
    ${74} = scrapy.Field()
    ${75} = scrapy.Field()
    ${76} = scrapy.Field()
    ${77} = scrapy.Field()
    ${78} = scrapy.Field()
    ${79} = scrapy.Field()
    ${80} = scrapy.Field()
    ${81} = scrapy.Field()
    ${82} = scrapy.Field()
    ${83} = scrapy.Field()
    ${84} = scrapy.Field()
    ${85} = scrapy.Field()
    ${86} = scrapy.Field()
    ${87} = scrapy.Field()
    ${88} = scrapy.Field()
    ${89} = scrapy.Field()
    ${90} = scrapy.Field()
    ${91} = scrapy.Field()
    ${92} = scrapy.Field()
    ${93} = scrapy.Field()
    ${94} = scrapy.Field()
    ${95} = scrapy.Field()
    ${96} = scrapy.Field()
    ${97} = scrapy.Field()
    ${98} = scrapy.Field()
    ${99} = scrapy.Field()
    ${100} = scrapy.Field()
